.n-filter{
    &-left{
        &_item{
            padding-right: 10px;
            color: $color_grey;
        }
        .active{
            color:$active;
          
        }
        .main{
            background-color: $active;
            color: white;
            height: 30px;
            border-radius: 3px;
            line-height: 30px;
            text-align: center;
            padding: 0 10px;
        }
    }

    &-right{
        &-item{
            position: relative;
            padding-right: 20px;
            img{
                width: 30px;
                height: auto;
                max-width: 100%;
            }
         &::after{
             content: '';
             position: absolute;
             right: 10px;
             top: 50%;
             transform: translateY(-50%);
             height: 50%;
             width: 2px;
             background-color: #f6f6f6;
         }
        }
    }
}

.n-coupons{
   
    .top-item-content{
        width: 100%;
        min-height: 277px;
        height: 100%;
        background-color: blue;
        padding: 20px;
        border-radius: 10px;
      
        text-align: center;
        color: white;
    }
    
    button{
        margin: 20px auto 0;
        background-color: white;
        height: 42px;
        width: 158px;
        border: none;
        padding: 0;
        border-radius: 3px;
        label{
            color: $f-color;
            display: block;
            margin-right: 10px;
        }
        img{
            width: 12px;
        }
    }
    &-top{
        margin-left: -23px;
        margin-right: -23px;
    }
    &-top-item{
        padding: 23px 23px 35px;
        h3{
            padding: 24px 0 0;
            font-size: 36px;
        }
        h4{
            margin-top: 10px;
            margin-bottom: 13px;
            font-size: 20px;
        }
        p{
            margin-top: 12px;
            margin-bottom: 33px;
        }
    }
    &-bt{
        margin-left: -10px;
        margin-right: -10px;
        &-item{
            padding: 10px;
            h3{
                padding: 10px 0 ;
                font-size: 18px;
            }
            h4{
               font-size: 14px;
            }
            p{
        
            }
        }
    }
}

.n-f-10{
    font-size: 10px;
}
.bg-orange{
    background-color:#FAA451 ;
}
.n-section{
   
    .cp-content-bt{
        width: 100%;
        margin-top: 5px;
       
    }
    button{
      
        height: 30px;
        width:115px;
        border: none;
        padding: 0;
        color: white;
        label{
           
            display: block;
            margin-right: 10px;
        }
        img{
            width: 12px;
        }
    }
    h3.n-title{
        font-size: 18px;
        font-weight: bold;
    }
    h4{
        color: $color_grey;
    }
    .n-b-r_50{
        border-radius: 999px;
        background-color: #f6f6f6;
        padding: 5px 10px;
    
    }  
    .n-section-content{
        margin-left: -10px;
        margin-right: -10px;
    }
    .n-cp-right{
        span{
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    .section-content-item{
        padding: 10px;
        .list-cp-content{
            border-radius: 10px;
            .cp-content-top{
                background-color:red;
                padding: 20px;
                label{
                    color: $f-color;
                }
                .money{
                    margin: 20px 0 0;
                }
                .currency{

                }
                .price{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }

}