//[MOBILE FIRST]

//rs-xs: extra - small
//rs-sm: small
//rs-md: medium
//rs-lg: large
//rs-xl: extra - large

@mixin rs-xs {
    @media only screen and(min-width:320px) {
      @content;
    }
}
@mixin rs-sm {
    @media only screen and(min-width:576px) {
        @content;
    }
}
@mixin rs-md {
    @media only screen and(min-width:768px) {
        @content;
    }
}
@mixin rs-lg {
    @media only screen and(min-width:992px) {
        @content;
    }
}
@mixin rs-xl {
    @media only screen and(min-width:1200px) {
        @content;
    }
}


$col: 12;
$gutter: 10px; // khoảng cách giữa cách col
.my-row {
  display: flex;
  flex-wrap: wrap;

  @include rs-xs {
    @for $i from 1 through $col {
      .my-col-xs-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-sm {
    @for $i from 1 through $col {
      .my-col-sm-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-md {
    @for $i from 1 through $col {
      .my-col-md-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-lg {
    @for $i from 1 through $col {
      .my-col-lg-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-xl {
    @for $i from 1 through $col {
      .my-col-xl-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
}

//set up font
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(./font/NotoSansKR-Thin.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url(./font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(./font/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: url(./font/NotoSansKR-Bold.otf);
}

//set up tags
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 75%;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
    list-style: none;
}

img {
    width: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

table,
tr,
td,
th,
thead,
tbody {
    border-collapse: collapse;
    vertical-align: middle;
}

button,
input,
select,
textarea {
    outline: none;
}

button,
select {
    cursor: pointer;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.align-center{
  align-items: center;
}
.bold-100{
  font-weight: 100;
}
.bold-300{
  font-weight: 300;
}
.bold-400{
  font-weight: 400;
}
.bold-500{
  font-weight: 500;
}
.bold-800{
  font-weight: 800;
}

//footer
.my-container{
  width: 100%;
  max-width: 1160px;
  margin: auto;
  @include rs-xs {
    padding: 0 20px;
    .nl-xs-col__row5{
      width: 100%;
    }
    .nl-ctn__1_5{
      margin: 0;
    }
    .nl-header-bar{
      .nl-bottom-line{
        .nl-left-part{
          width: 70%;
        }
        .nl-right-part{
          width: 30%;
        }
      }
    }
  }
  @include rs-sm {
    padding: 0 20px;
    .nl-xs-col__row5{
      width: 100%;
    }
    .nl-ctn__1_5{
      margin: 0;
    }
    .nl-header-bar{
      .nl-bottom-line{
        .nl-left-part{
          width: 70%;
        }
      }
    }
  }
  @include rs-md {
    padding: 0 20px;
    .nl-xs-col__row5{
      width: 20%;
      padding: 0;
    }

    .nl-header-bar{
      .nl-bottom-line{
        .nl-left-part{
          width: 70%;
        }
      }
    }
  }
  @include rs-lg {
    padding: 0;
    .nl-xs-col__row5{
      width: 20%;
      padding: 0;
    }
    .nl-header-bar{
      .nl-bottom-line{
        .nl-left-part{
          width: 50%;
        }
        .nl-right-part{
          width: 50%;
        }
      }
    }
  }
}
$color_grey_65: #656565;
$color_grey_f3: #f3f3f3;
$color_grey_be: #bebebe;
$color_grey_5e: #5e5e5e;
$color_white: #fff;

.nl-footer{
  font-size: 14px;
  border-top: 1px solid $color_grey_be;

  .nl-white-part{
    background-color: $color_white;
    padding: 39px 0 28px;
  }
  .nl-grey-part{
    background-color: $color_grey_f3;
    padding: 22px 0 40px;
  }
  .nl-title-ft{
    font-weight: 800;
    margin-bottom: 20px;
  }
  .nl-item__link{
    display: block;
    color: $color_grey_65;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .nl-icon{
    position: relative;
    margin-right: 14px;
    top: -1px
  }
  .nl-row-5__item{
    margin-top: 3.5px;
    &:first-child{
      margin-top: 0;
    }
  }
}

.nl-intag{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nl-fb{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -34px;
  background-repeat: no-repeat;
}
.nl-n-black{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -69px;
  background-repeat: no-repeat;
}
.nl-n-green{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -105px;
  background-repeat: no-repeat;
}
.nl-text-at-bt__footer{
  position: relative;
  color: $color_grey_65;
  font-size: 12px;
  display: inline-block;
  &.nl-line-end{
    margin-top: 21px;
  }
}
.line-single{
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  margin: 0 5p;
}
//page 1.5
.type-1-5{
  font-size: 16px;
  .nl-banner{
    display: flex;
  }
  .nl-title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 62px;
  }
  .nl-ctn__1_5{
    width: 100%;
    padding-bottom: 77px;
    
    .nl-item{
      margin: 0 14px 52px;
      .nl-img-part{
        .nl-pic-item{
          display: block;
          height: 186px;
          width: 100%;
          background-image: url(../img/landmark-81-1.jpg);
          background-size: cover;
          background-position: center;
          border-radius: 7px;
        }
      }
      .nl-name{
        font-weight: 600;
        font-size: 18px;
        margin-top: 19px;
      }
      .nl-des{
        margin-top: 3px;
        font-size: 14px;
        color: $color_grey_5e;
      }
    }
  }
  .ht-list-box-1{
    .box-1{
      span{
        font-size: 1.3333rem;
        margin-top: 0;
      }
    }
  }
  @include rs-xs {
    .nl-wrapper__1_5{
      margin: 0 -14px;
    }
  }
  // @include rs-sm {

  // }
  // @include rs-md {
  // }
  // @include rs-lg {
  // }
}
.type-1-10{
  .nl-title{
    font-size: 26px;
    font-weight: 400;
  }
  .nl-multi-tab{
    font-size: 16px;
    .nl-head-tab{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 30px;
      height: 64px;
      background-color: #2a96ee;
      .nl-head-item{
        .nl-nav-link{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 20px;
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          opacity: 0.7;
          border-bottom: 3px solid transparent;
          &.active{
            opacity: 1;
            border-bottom-color: #035aa7;
          }
        }

      }
    }
  }
}
/*header*/
.nl-header-bar{
  width: 100%;
  .nl-logo{
    display: inline-block;
    height: 34px;
    width: 114px;
    margin-right: 5px;
    .nl-logo-page{
      display: inline-block;
      height: 100%;
      width: 100%;
      background-image: url(../img/tripfun_logo-01.svg);
      background-size: cover;
      background-position: center;
    }
  }

  .nl-top-line{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 88px;

    .nl-left-part{
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      padding-right: 30px;

      .nl-item__link{
        &:last-child{
          &:after{
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 0;
            height: 12px;
            border-left: 1px solid #aaa;
          }
          
        }
      }
    }
    .nl-item__link{
      position: relative;
      display: inline-block;
      padding: 0 15px;
      color: #666;
      line-height: 1;
      font-size: 14px;
    }
    .nl-right-part{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .nl-btn-priamry{
        display: inline-block;
        justify-content: center;
        line-height: 30px;
        width: 90px;
        background-color: #2696ee;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        margin-left: 5px;
        font-size: 14px;
      }
      .nl-item__link{
        &:first-child{
          &:after{
            content: "";
            position: absolute;
            top: 2px;
            right: 0;
            width: 0;
            height: 12px;
            border-left: 1px solid #aaa;
          } 
        }
      }
    }
  }
  .nl-bottom-line{
    display: flex;
    align-items: center;
    width: 100%;
    height: 37px;
    padding-bottom: 20px;
    .nl-left-part{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      max-width: 580px;
      height: 100%;
      padding-right: 30px;
    }
    .nl-right-part{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      height: 100%;

      .nl-item__link{
        &:last-child{
          padding-left: 42px;
        }
      }
    }
    .nl-item__link{
      font-size: 15px;
      display: inline-block;
      line-height: 1;
      color: #4d4d4d;
      &.active{
        color: #ff702e;
      }
    }
  }
  .nl-menu__icon{
    position: relative;
    height: 21px;
    width: 27px;
    border-top: 3px solid #ff702e;
    border-bottom: 3px solid #ff702e;
    margin-right: 20px;
    display: none;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      border-top: 3px solid #ff702e;
      top: 6px;
    }
  }
  .nl-menu-nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0, 0.4);
    transition: 2s;
    display: none;
    // visibility: hidden;
    .nl-ctn-menu{
      position: relative;
      width: calc(100vw - 90px);
      height: 100%;
      padding: 30px 0;
      background-color: #fff;
      border: 1px solid #f3f3f3;
      box-shadow: 2px 2px 6px 0 rgba(0,0,0, 0.2);
    }
    .nl-item__link-nav{
      display: block;
      line-height: 42px;
      padding: 0 20px;
      border-top: 1px solid #f3f3f3;

      &:first-child{
        border-top: 0;
      }
      &.active{
        color: #ff702e;
      }
    }
  }
  .nl-btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
}
.hidden{
  display: none;
}
@media only screen and (max-width: 576px){
  .nl-header-bar {
    .nl-item__link{
      display: none !important;
    }
    .nl-bottom-line{
      display: none;
    }
    .nl-menu__icon{
      display: block;
    }
    .nl-top-line{
      .nl-left-part{
        width: 70%;
        padding-right: 0;
      }
      .nl-right-part{
        width: 30%;
      }
    }
  }
}