.my-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 320px) {
  .my-row .my-col-xs-1 {
    width: 8.33333%;
  }
  .my-row .my-col-xs-2 {
    width: 16.66667%;
  }
  .my-row .my-col-xs-3 {
    width: 25%;
  }
  .my-row .my-col-xs-4 {
    width: 33.33333%;
  }
  .my-row .my-col-xs-5 {
    width: 41.66667%;
  }
  .my-row .my-col-xs-6 {
    width: 50%;
  }
  .my-row .my-col-xs-7 {
    width: 58.33333%;
  }
  .my-row .my-col-xs-8 {
    width: 66.66667%;
  }
  .my-row .my-col-xs-9 {
    width: 75%;
  }
  .my-row .my-col-xs-10 {
    width: 83.33333%;
  }
  .my-row .my-col-xs-11 {
    width: 91.66667%;
  }
  .my-row .my-col-xs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .my-row .my-col-sm-1 {
    width: 8.33333%;
  }
  .my-row .my-col-sm-2 {
    width: 16.66667%;
  }
  .my-row .my-col-sm-3 {
    width: 25%;
  }
  .my-row .my-col-sm-4 {
    width: 33.33333%;
  }
  .my-row .my-col-sm-5 {
    width: 41.66667%;
  }
  .my-row .my-col-sm-6 {
    width: 50%;
  }
  .my-row .my-col-sm-7 {
    width: 58.33333%;
  }
  .my-row .my-col-sm-8 {
    width: 66.66667%;
  }
  .my-row .my-col-sm-9 {
    width: 75%;
  }
  .my-row .my-col-sm-10 {
    width: 83.33333%;
  }
  .my-row .my-col-sm-11 {
    width: 91.66667%;
  }
  .my-row .my-col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .my-row .my-col-md-1 {
    width: 8.33333%;
  }
  .my-row .my-col-md-2 {
    width: 16.66667%;
  }
  .my-row .my-col-md-3 {
    width: 25%;
  }
  .my-row .my-col-md-4 {
    width: 33.33333%;
  }
  .my-row .my-col-md-5 {
    width: 41.66667%;
  }
  .my-row .my-col-md-6 {
    width: 50%;
  }
  .my-row .my-col-md-7 {
    width: 58.33333%;
  }
  .my-row .my-col-md-8 {
    width: 66.66667%;
  }
  .my-row .my-col-md-9 {
    width: 75%;
  }
  .my-row .my-col-md-10 {
    width: 83.33333%;
  }
  .my-row .my-col-md-11 {
    width: 91.66667%;
  }
  .my-row .my-col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .my-row .my-col-lg-1 {
    width: 8.33333%;
  }
  .my-row .my-col-lg-2 {
    width: 16.66667%;
  }
  .my-row .my-col-lg-3 {
    width: 25%;
  }
  .my-row .my-col-lg-4 {
    width: 33.33333%;
  }
  .my-row .my-col-lg-5 {
    width: 41.66667%;
  }
  .my-row .my-col-lg-6 {
    width: 50%;
  }
  .my-row .my-col-lg-7 {
    width: 58.33333%;
  }
  .my-row .my-col-lg-8 {
    width: 66.66667%;
  }
  .my-row .my-col-lg-9 {
    width: 75%;
  }
  .my-row .my-col-lg-10 {
    width: 83.33333%;
  }
  .my-row .my-col-lg-11 {
    width: 91.66667%;
  }
  .my-row .my-col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .my-row .my-col-xl-1 {
    width: 8.33333%;
  }
  .my-row .my-col-xl-2 {
    width: 16.66667%;
  }
  .my-row .my-col-xl-3 {
    width: 25%;
  }
  .my-row .my-col-xl-4 {
    width: 33.33333%;
  }
  .my-row .my-col-xl-5 {
    width: 41.66667%;
  }
  .my-row .my-col-xl-6 {
    width: 50%;
  }
  .my-row .my-col-xl-7 {
    width: 58.33333%;
  }
  .my-row .my-col-xl-8 {
    width: 66.66667%;
  }
  .my-row .my-col-xl-9 {
    width: 75%;
  }
  .my-row .my-col-xl-10 {
    width: 83.33333%;
  }
  .my-row .my-col-xl-11 {
    width: 91.66667%;
  }
  .my-row .my-col-xl-12 {
    width: 100%;
  }
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: url(./font/NotoSansKR-Thin.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url(./font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url(./font/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: url(./font/NotoSansKR-Bold.otf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 75%;
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  width: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

table,
tr,
td,
th,
thead,
tbody {
  border-collapse: collapse;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  outline: none;
}

button,
select {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold-100 {
  font-weight: 100;
}

.bold-300 {
  font-weight: 300;
}

.bold-400 {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bold-800 {
  font-weight: 800;
}

.my-container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

@media only screen and (min-width: 320px) {
  .my-container {
    padding: 0 20px;
  }
  .my-container .nl-xs-col__row5 {
    width: 100%;
  }
  .my-container .nl-ctn__1_5 {
    margin: 0;
  }
}

@media only screen and (min-width: 576px) {
  .my-container .nl-xs-col__row5 {
    width: 100%;
  }
  .my-container .nl-ctn__1_5 {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .my-container .nl-xs-col__row5 {
    width: 20%;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .my-container .nl-xs-col__row5 {
    width: 20%;
    padding: 0;
  }
}

.nl-footer {
  font-size: 16px;
  border-top: 1px solid #bebebe;
}

.nl-footer .nl-white-part {
  background-color: #fff;
  padding: 50px 0 50px;
}

.nl-footer .nl-grey-part {
  background-color: #f3f3f3;
  padding: 25px 0 40px;
}

.nl-footer .nl-title-ft {
  font-weight: 800;
  margin-bottom: 20px;
}

.nl-footer .nl-item__link {
  display: block;
  color: #656565;
  margin-bottom: 20px;
}

.nl-footer .nl-icon {
  position: relative;
  bottom: -3px;
  margin-right: 14px;
}

.nl-intag {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.nl-fb {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -34px;
  background-repeat: no-repeat;
}

.nl-n-black {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -69px;
  background-repeat: no-repeat;
}

.nl-n-green {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -105px;
  background-repeat: no-repeat;
}

.nl-text-at-bt__footer {
  position: relative;
  color: #656565;
  font-size: 14px;
  display: inline-block;
}

.line-single {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  margin: 0 5px 5px 5px;
}

.type-1-5 {
  font-size: 16px;
}

.type-1-5 .nl-title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 34px;
  margin-top: 62px;
}

.type-1-5 .nl-ctn__1_5 {
  width: 100%;
}

.type-1-5 .nl-ctn__1_5 .nl-item {
  margin: 0 9px 70px;
}

.type-1-5 .nl-ctn__1_5 .nl-item .nl-img-part .nl-pic-item {
  display: block;
  height: 180px;
  width: 100%;
  background-image: url(../img/landmark-81-1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.type-1-5 .nl-ctn__1_5 .nl-item .nl-name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 19px;
}

.type-1-5 .nl-ctn__1_5 .nl-item .nl-des {
  margin-top: 2px;
  font-size: 1.25rem;
  color: #5e5e5e;
}

.type-1-5 .ht-list-box-1 .box-1 span {
  font-size: 1.3333rem;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .type-1-5 .nl-wrapper__1_5 {
    margin: 0 -9px;
  }
}

.type-1-10 .nl-title {
  font-size: 26px;
  font-weight: 400;
}

.type-1-10 .nl-multi-tab {
  font-size: 16px;
}

.type-1-10 .nl-multi-tab .nl-head-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  height: 64px;
  background-color: #2a96ee;
}

.type-1-10 .nl-multi-tab .nl-head-tab .nl-head-item .nl-nav-link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  border-bottom: 3px solid transparent;
}

.type-1-10 .nl-multi-tab .nl-head-tab .nl-head-item .nl-nav-link.active {
  opacity: 1;
  border-bottom-color: #035aa7;
}

.nl-header-bar {
  width: 100%;
}

.nl-header-bar .nl-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.nl-header-bar .nl-top-line .nl-left-part {
  width: 50%;
}

.nl-header-bar .nl-top-line .nl-left-part .nl-item__link:first-child {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-right: 1px solid #666;
}

.nl-header-bar .nl-top-line .nl-item__link {
  position: relative;
  padding: 0 15px;
  color: #666;
}
/*# sourceMappingURL=common.css.map */