//[MOBILE FIRST]

//rs-xs: extra - small
//rs-sm: small
//rs-md: medium
//rs-lg: large
//rs-xl: extra - large

@mixin rs-xs {
    @media only screen and(min-width:320px) {
      @content;
    }
}
@mixin rs-sm {
    @media only screen and(min-width:576px) {
        @content;
    }
}
@mixin rs-md {
    @media only screen and(min-width:768px) {
        @content;
    }
}
@mixin rs-lg {
    @media only screen and(min-width:992px) {
        @content;
    }
}
@mixin rs-xl {
    @media only screen and(min-width:1200px) {
        @content;
    }
}


$col: 12;
$gutter: 10px; // khoảng cách giữa cách col
.my-row {
  display: flex;
  flex-wrap: wrap;

  @include rs-xs {
    @for $i from 1 through $col {
      .my-col-xs-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-sm {
    @for $i from 1 through $col {
      .my-col-sm-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-md {
    @for $i from 1 through $col {
      .my-col-md-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-lg {
    @for $i from 1 through $col {
      .my-col-lg-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
  @include rs-xl {
    @for $i from 1 through $col {
      .my-col-xl-#{$i} {
        width: (100% / $col) * $i;
      }
    }
  }
}

//set up font
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(./font/NotoSansKR-Thin.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url(./font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(./font/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: url(./font/NotoSansKR-Bold.otf);
}

//set up tags
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 75%;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
    list-style: none;
}

img {
    width: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

table,
tr,
td,
th,
thead,
tbody {
    border-collapse: collapse;
    vertical-align: middle;
}

button,
input,
select,
textarea {
    outline: none;
}

button,
select {
    cursor: pointer;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.align-center{
  align-items: center;
}
.bold-100{
  font-weight: 100;
}
.bold-300{
  font-weight: 300;
}
.bold-400{
  font-weight: 400;
}
.bold-500{
  font-weight: 500;
}
.bold-800{
  font-weight: 500;
}

//footer
.my-container{
  width: 100%;
  max-width: 1160px;
  margin: auto;
  @include rs-xs {
    padding: 0 20px;
    .nl-xs-col__row5{
      width: 100%;
    }
  }
  @include rs-sm {
    .nl-xs-col__row5{
      width: 100%;
    }
  }
  @include rs-md {
    .nl-xs-col__row5{
      width: 20%;
      padding: 0;
    }
  }
  @include rs-lg {
    .nl-xs-col__row5{
      width: 20%;
      padding: 0;
    }
  }
}
$color_grey_65: #656565;
$color_grey_f3: #f3f3f3;
$color_grey_be: #bebebe;
$color_white: #fff;

.nl-footer{
  font-size: 16px;
  border-top: 1px solid $color_grey_be;

  .nl-white-part{
    background-color: $color_white;
    padding: 50px 0 50px;
  }
  .nl-grey-part{
    background-color: $color_grey_f3;
    padding: 25px 0 40px;
  }
  .nl-title-ft{
    font-weight: 800;
    margin-bottom: 20px;
  }
  .nl-item__link{
    display: block;
    color: $color_grey_65;
    margin-bottom: 20px;
  }
  .nl-icon{
    position: relative;
    bottom: -3px;
    margin-right: 14px;
  }
}
.nl-intag{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nl-fb{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -34px;
  background-repeat: no-repeat;
}
.nl-n-black{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -69px;
  background-repeat: no-repeat;
}
.nl-n-green{
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -105px;
  background-repeat: no-repeat;
}
.nl-text-at-bt__footer{
  position: relative;
  color: $color_grey_65;
  font-size: 14px;
  display: inline-block;
}
.line-single{
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  @extend .mg-b-5;
  @extend .mg-l-5;
  @extend .mg-r-5;
}
//page 1.5
.type-1-5{
  .nl-title{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  .nl-ctn{
    .nl-item{
      .nl-img-part{
        height: 180px;
        width: 100%;
        background-image: url(../img/icon1.png);
        background-size: cover;
        background-position: center;
        border-radius: 7px;
      }
      .nl-name{
        font-weight: 600;
      }
    }
  }
}