.my-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 320px) {
  .my-row .my-col-xs-1 {
    width: 8.33333%;
  }
  .my-row .my-col-xs-2 {
    width: 16.66667%;
  }
  .my-row .my-col-xs-3 {
    width: 25%;
  }
  .my-row .my-col-xs-4 {
    width: 33.33333%;
  }
  .my-row .my-col-xs-5 {
    width: 41.66667%;
  }
  .my-row .my-col-xs-6 {
    width: 50%;
  }
  .my-row .my-col-xs-7 {
    width: 58.33333%;
  }
  .my-row .my-col-xs-8 {
    width: 66.66667%;
  }
  .my-row .my-col-xs-9 {
    width: 75%;
  }
  .my-row .my-col-xs-10 {
    width: 83.33333%;
  }
  .my-row .my-col-xs-11 {
    width: 91.66667%;
  }
  .my-row .my-col-xs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .my-row .my-col-sm-1 {
    width: 8.33333%;
  }
  .my-row .my-col-sm-2 {
    width: 16.66667%;
  }
  .my-row .my-col-sm-3 {
    width: 25%;
  }
  .my-row .my-col-sm-4 {
    width: 33.33333%;
  }
  .my-row .my-col-sm-5 {
    width: 41.66667%;
  }
  .my-row .my-col-sm-6 {
    width: 50%;
  }
  .my-row .my-col-sm-7 {
    width: 58.33333%;
  }
  .my-row .my-col-sm-8 {
    width: 66.66667%;
  }
  .my-row .my-col-sm-9 {
    width: 75%;
  }
  .my-row .my-col-sm-10 {
    width: 83.33333%;
  }
  .my-row .my-col-sm-11 {
    width: 91.66667%;
  }
  .my-row .my-col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .my-row .my-col-md-1 {
    width: 8.33333%;
  }
  .my-row .my-col-md-2 {
    width: 16.66667%;
  }
  .my-row .my-col-md-3 {
    width: 25%;
  }
  .my-row .my-col-md-4 {
    width: 33.33333%;
  }
  .my-row .my-col-md-5 {
    width: 41.66667%;
  }
  .my-row .my-col-md-6 {
    width: 50%;
  }
  .my-row .my-col-md-7 {
    width: 58.33333%;
  }
  .my-row .my-col-md-8 {
    width: 66.66667%;
  }
  .my-row .my-col-md-9 {
    width: 75%;
  }
  .my-row .my-col-md-10 {
    width: 83.33333%;
  }
  .my-row .my-col-md-11 {
    width: 91.66667%;
  }
  .my-row .my-col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .my-row .my-col-lg-1 {
    width: 8.33333%;
  }
  .my-row .my-col-lg-2 {
    width: 16.66667%;
  }
  .my-row .my-col-lg-3 {
    width: 25%;
  }
  .my-row .my-col-lg-4 {
    width: 33.33333%;
  }
  .my-row .my-col-lg-5 {
    width: 41.66667%;
  }
  .my-row .my-col-lg-6 {
    width: 50%;
  }
  .my-row .my-col-lg-7 {
    width: 58.33333%;
  }
  .my-row .my-col-lg-8 {
    width: 66.66667%;
  }
  .my-row .my-col-lg-9 {
    width: 75%;
  }
  .my-row .my-col-lg-10 {
    width: 83.33333%;
  }
  .my-row .my-col-lg-11 {
    width: 91.66667%;
  }
  .my-row .my-col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .my-row .my-col-xl-1 {
    width: 8.33333%;
  }
  .my-row .my-col-xl-2 {
    width: 16.66667%;
  }
  .my-row .my-col-xl-3 {
    width: 25%;
  }
  .my-row .my-col-xl-4 {
    width: 33.33333%;
  }
  .my-row .my-col-xl-5 {
    width: 41.66667%;
  }
  .my-row .my-col-xl-6 {
    width: 50%;
  }
  .my-row .my-col-xl-7 {
    width: 58.33333%;
  }
  .my-row .my-col-xl-8 {
    width: 66.66667%;
  }
  .my-row .my-col-xl-9 {
    width: 75%;
  }
  .my-row .my-col-xl-10 {
    width: 83.33333%;
  }
  .my-row .my-col-xl-11 {
    width: 91.66667%;
  }
  .my-row .my-col-xl-12 {
    width: 100%;
  }
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: url(./font/NotoSansKR-Thin.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url(./font/NotoSansKR-Light.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url(./font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url(./font/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: url(./font/NotoSansKR-Bold.otf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 75%;
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  width: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

table,
tr,
td,
th,
thead,
tbody {
  border-collapse: collapse;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  outline: none;
}

button,
select {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold-100 {
  font-weight: 100;
}

.bold-300 {
  font-weight: 300;
}

.bold-400 {
  font-weight: 400;
}

.bold-500 {
  font-weight: 500;
}

.bold-800 {
  font-weight: 800;
}

.my-container {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

@media only screen and (min-width: 320px) {
  .my-container {
    padding: 0 20px;
  }
  .my-container .nl-xs-col__row5 {
    width: 100%;
  }
  .my-container .nl-ctn__1_5 {
    margin: 0;
  }
  .my-container .nl-header-bar .nl-bottom-line .nl-left-part {
    width: 70%;
  }
  .my-container .nl-header-bar .nl-bottom-line .nl-right-part {
    width: 30%;
  }
}

@media only screen and (min-width: 576px) {
  .my-container {
    padding: 0 20px;
  }
  .my-container .nl-xs-col__row5 {
    width: 100%;
  }
  .my-container .nl-ctn__1_5 {
    margin: 0;
  }
  .my-container .nl-header-bar .nl-bottom-line .nl-left-part {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .my-container {
    padding: 0 20px;
  }
  .my-container .nl-xs-col__row5 {
    width: 20%;
    padding: 0;
  }
  .my-container .nl-xs-col__row5:last-child {
    width: 118px;
  }
  .my-container .nl-header-bar .nl-bottom-line .nl-left-part {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .my-container {
    padding: 0;
  }
  .my-container .nl-xs-col__row5 {
    width: 20%;
    padding: 0;
  }
  .my-container .nl-xs-col__row5:last-child {
    width: 118px;
  }
  .my-container .nl-header-bar .nl-bottom-line .nl-left-part {
    width: 50%;
  }
  .my-container .nl-header-bar .nl-bottom-line .nl-right-part {
    width: 50%;
  }
}

.nl-footer {
  font-size: 14px;
  border-top: 1px solid #bebebe;
}

.nl-footer .nl-white-part {
  background-color: #fff;
  padding: 39px 0 28px;
}

.nl-footer .nl-white-part .my-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nl-footer .nl-white-part .my-row .nl-row-5__item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nl-footer .nl-grey-part {
  background-color: #f3f3f3;
  padding: 22px 0 40px;
}

.nl-footer .nl-title-ft {
  font-weight: 800;
  margin-bottom: 20px;
}

.nl-footer .nl-item__link {
  display: block;
  color: #656565;
  margin-bottom: 10px;
  font-size: 14px;
}

.nl-footer .nl-icon {
  position: relative;
  margin-right: 14px;
  top: -1px;
}

.nl-footer .nl-row-5__item {
  margin-top: 3.5px;
}

.nl-footer .nl-row-5__item:first-child {
  margin-top: 0;
}

.nl-intag {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.nl-fb {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -34px;
  background-repeat: no-repeat;
}

.nl-n-black {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -69px;
  background-repeat: no-repeat;
}

.nl-n-green {
  height: 22px;
  width: 22px;
  display: inline-block;
  background-image: url(../img/icon1.png);
  background-position: 0 -105px;
  background-repeat: no-repeat;
}

.nl-text-at-bt__footer {
  position: relative;
  color: #656565;
  font-size: 12px;
  display: inline-block;
}

.nl-text-at-bt__footer.nl-line-end {
  margin-top: 21px;
}

.line-single {
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  margin: 0 5p;
}

.type-1-5 {
  font-size: 16px;
}

.type-1-5 .nl-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-1-5 .nl-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 24px;
  margin-top: 62px;
}

.type-1-5 .nl-ctn__1_5 {
  width: 100%;
  padding-bottom: 77px;
}

.type-1-5 .nl-ctn__1_5 .nl-item {
  margin: 0 14px 52px;
}

.type-1-5 .nl-ctn__1_5 .nl-item .nl-img-part .nl-pic-item {
  display: block;
  height: 186px;
  width: 100%;
  background-image: url(../img/1.5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.type-1-5 .nl-ctn__1_5 .nl-item .nl-name {
  font-weight: 600;
  font-size: 18px;
  margin-top: 19px;
}

.type-1-5 .nl-ctn__1_5 .nl-item .nl-des {
  margin-top: 3px;
  font-size: 14px;
  color: #5e5e5e;
}

.type-1-5 .ht-list-box-1 .box-1 span {
  font-size: 1.3333rem;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .type-1-5 .nl-wrapper__1_5 {
    margin: 0 -14px;
  }
}

.type-1-10 .nl-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 51px;
}

.type-1-10 .nl-btn-x-pu {
  border: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  top: 41px;
  right: 41px;
}

.type-1-10 .nl-btn-x-pu::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-left: 1px solid #424242;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.type-1-10 .nl-btn-x-pu::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-left: 1px solid #424242;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.type-1-10 .nl-multi-tab {
  font-size: 16px;
}

.type-1-10 .nl-multi-tab .nl-head-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  height: 80px;
  background-color: #2a96ee;
  margin-top: 20px;
}

.type-1-10 .nl-multi-tab .nl-head-tab .nl-head-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.type-1-10 .nl-multi-tab .nl-head-tab .nl-head-item .nl-nav-link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  border-bottom: 4px solid transparent;
}

.type-1-10 .nl-multi-tab .nl-head-tab .nl-head-item .nl-nav-link.active {
  opacity: 1;
  border-bottom-color: #035aa7;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab {
  font-size: 16px;
  border: 1px solid #ededed;
  max-height: 663px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.type-1-10 .nl-multi-tab .nl-ctn-tab::-webkit-scrollbar {
  width: 10px;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab .nl-ctn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab .nl-ctn-item:first-child {
  border-top: 0;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab .nl-ctn-item .nl-col-1 {
  text-align: right;
  width: 160px;
  padding-right: 55px;
  font-weight: 600;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab .nl-ctn-item .nl-col-2 {
  width: calc(100% - 160px);
}

.type-1-10 .nl-multi-tab .nl-ctn-tab .nl-ctn-item .nl-col-2 .nl-city {
  display: inline-block;
  line-height: 43px;
  padding-right: 30px;
  font-weight: 500;
  color: #9d9d9d;
}

.type-1-10 .nl-multi-tab .nl-ctn-tab .nl-ctn-item .nl-col-2 .nl-city:last-child {
  padding-right: 0;
}

/*header*/
.nl-header-bar {
  width: 100%;
}

.nl-header-bar .nl-logo {
  display: inline-block;
  height: 34px;
  width: 114px;
  margin-right: 5px;
}

.nl-header-bar .nl-logo .nl-logo-page {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-image: url(../img/tripfun_logo-01.svg);
  background-size: cover;
  background-position: center;
}

.nl-header-bar .nl-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 88px;
}

.nl-header-bar .nl-top-line .nl-left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  padding-right: 30px;
}

.nl-header-bar .nl-top-line .nl-left-part .nl-item__link:last-child:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 0;
  height: 12px;
  border-left: 1px solid #aaa;
}

.nl-header-bar .nl-top-line .nl-item__link {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  color: #666;
  line-height: 1;
  font-size: 14px;
}

.nl-header-bar .nl-top-line .nl-right-part {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nl-header-bar .nl-top-line .nl-right-part .nl-btn-priamry {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  width: 90px;
  background-color: #2696ee;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 14px;
}

.nl-header-bar .nl-top-line .nl-right-part .nl-item__link:first-child:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 0;
  height: 12px;
  border-left: 1px solid #aaa;
}

.nl-header-bar .nl-bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 37px;
  padding-bottom: 20px;
}

.nl-header-bar .nl-bottom-line .nl-left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 580px;
  height: 100%;
  padding-right: 30px;
}

.nl-header-bar .nl-bottom-line .nl-right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.nl-header-bar .nl-bottom-line .nl-right-part .nl-item__link:last-child {
  padding-left: 42px;
}

.nl-header-bar .nl-bottom-line .nl-item__link {
  font-size: 15px;
  display: inline-block;
  line-height: 1;
  color: #4d4d4d;
}

.nl-header-bar .nl-bottom-line .nl-item__link.active {
  color: #ff702e;
}

.nl-header-bar .nl-menu__icon {
  position: relative;
  height: 21px;
  width: 27px;
  border-top: 3px solid #ff702e;
  border-bottom: 3px solid #ff702e;
  margin-right: 20px;
  display: none;
}

.nl-header-bar .nl-menu__icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 3px solid #ff702e;
  top: 6px;
}

.nl-header-bar .nl-menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.nl-header-bar .nl-menu-nav .nl-ctn-menu {
  position: relative;
  width: calc(100vw - 90px);
  height: 100%;
  padding: 30px 0;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation-name: menuMoveLeft;
          animation-name: menuMoveLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.nl-header-bar .nl-menu-nav .nl-item__link-nav {
  display: block;
  line-height: 42px;
  padding: 0 20px;
  border-top: 1px solid #f3f3f3;
}

.nl-header-bar .nl-menu-nav .nl-item__link-nav:first-child {
  border-top: 0;
}

.nl-header-bar .nl-menu-nav .nl-item__link-nav.active {
  color: #ff702e;
}

.nl-header-bar .nl-btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 576px) {
  .nl-header-bar .nl-item__link {
    display: none !important;
  }
  .nl-header-bar .nl-bottom-line {
    display: none;
  }
  .nl-header-bar .nl-menu__icon {
    display: block;
  }
  .nl-header-bar .nl-top-line .nl-left-part {
    width: 70%;
    padding-right: 0;
  }
  .nl-header-bar .nl-top-line .nl-right-part {
    width: 30%;
  }
  .nl-footer .nl-white-part .my-row .nl-xs-col__row5:first-child .nl-title-ft {
    margin-top: 0;
  }
  .nl-footer .nl-white-part .nl-title-ft {
    margin-top: 24px;
  }
  .nl-footer .nl-white-part .nl-row-5__item:first-child {
    margin-top: 24px;
  }
}

/* The animation code */
@-webkit-keyframes menuMoveLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes menuMoveLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nl-row-sel:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #6d6d6d transparent transparent;
  right: 10px;
}
/*# sourceMappingURL=common.css.map */