
.ht-col-2 {
    width: 18.5%;
}

.ht-col-1_3 {
    width: 363px;
}
.ht-col-2_3 {
    width: calc((100% / 3) * 2);
}

.ht-col-1_2 {
    width: 50%;
}
.ht-col-1_1 {
    width: 100%;
}
.mg-r-5 {
    margin-right: 5px;
}
.mg-l-3 {
    margin-left: 3px;
}
.mg-r-10 {
    margin-right: 10px;
}
.mg-l-10 {
    margin-left: 10px;
}


.ht-container {
    font-size: 16px;
    color: #333333;
    line-height: 16px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.ht-container .my-container {
    padding: 0;
}

.ht-ontop {
    height: 205px;
    background-color: #eff2f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 17px;
    min-width: 100%;
    align-items: center;
}

.ht-ontop .my-container .ht-title {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 35px;
    color: #292929;
}

.ht-ontop .ht-title p {
    font-size: 22px;
    color: #535458;
    line-height: 22px;
}

.ht-ontop .my-container>p {
    margin-top: 18px;
    font-size: 14px;
    color: #919598;
}

.ht-list-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 73px;
    cursor: pointer;
}

.ht-list-box-1 .box-1 {
    height: 108px;
    border: 1px solid hsl(210, 40%, 84%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ht-list-box-1 .box-1.active {
    box-shadow: 0 5px 20px -18px #0362da;
}

.ht-list-box-1 .box-1.active span {
    color: #0362da;
}

.ht-list-box-1 .box-1 span {
    margin-top: 6px;
    color: #434343;
}

.ht-container .ht-list {
    margin-top: 53px;
}

.ht-container .ht-list-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 39px;
}

.ht-container .ht-list-img .ht-img {
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 22px;
    background-size: cover;
    background-position: center;
}

.ht-container .ht-list-img.ht-col-2 {
    width: 20%;
}

.ht-container .ht-list-img .ht-img>span {
    background-color: #ffffff;
    border-radius: 3px;
    width: 94px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    cursor: pointer;
}

.ht-container .ht-list-img .img-1 {
    background-image: url(https://globaltravel.com.vn/wp-content/uploads/2018/12/eiffel-tower-paris-france-19.jpg);
}

.ht-container .ht-list-img .img-2 {
    background-image: url(https://www.kynghidongduong.vn/images/product/img2/vinh-ha-long-kynghidongduong-vn.jpg);
}

.ht-container .ht-slider {
    margin-top: 40px;
}

.ht-container .ht-slider .ht-item .content {
    padding: 16px;
}

.ht-container .ht-slider .ht-item.active {
    box-shadow: 0 0px 20px -18px #0362da;
}

.ht-container .ht-slider .ht-item>.ht-img {
    height: 176px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ht-container .ht-slider .img-1 {
    background-image: url(https://globaltravel.com.vn/wp-content/uploads/2018/12/eiffel-tower-paris-france-19.jpg);
}

.ht-container .ht-slider .img-2 {
    background-image: url(https://www.kynghidongduong.vn/images/product/img2/vinh-ha-long-kynghidongduong-vn.jpg);
}

.ht-container .ht-slider .ht-item {
    height: 100%;
    background-position: center;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
}
.ht-container .ht-slider .ht-item .vote {
    height: 29px;
    width: 29px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    position: absolute;
    top: 8px;
    right: 13px;
    cursor: pointer;
}
.ht-container .ht-slider .ht-item .unlike {
    background-image: url(../../img/ht-images/un-heart.png);
}
.ht-container .ht-slider .ht-item .like {
    background-image: url(../../img/ht-images/heart.png);

}

.ht-container .ht-slider .ht-item .promo {
    height: 21px;
    width: 89px;
    background-color: #ff6a26;
    color: white;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    line-height: 22px;
    top: 1px;
    left: 8px;
}
.ht-container .ht-slider .ht-item .ht-gray .ht-star {
    margin-bottom: 0;
    color: #666666;
}
.ht-container .ht-slider .ht-item .ht-gray .ht-star>img {
    height: 10px;
    width: 10px !important;
}
.ht-container .ht-slider .ht-item .ht-gray {
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 2px;
    display: flex;
}

.ht-container .ht-slider .ht-item .number {
    font-size: 12px;
    display: flex;
}

.ht-container .ht-slider .ht-item .number>.ht-gray {
    font-size: 12px;
    margin-left: 2px;
}

.ht-container .ht-slider .ht-item .sub {
    color: #505050;
    font-size: 12px;
    font-weight: 300;
}

.ht-container .ht-slider .ht-item .ht-price {
    font-size: 18px;
    font-weight: 500;
    display: flex;
}

.ht-container .ht-slider .ht-item .ht-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 47px;
    color: #353535;
}

.ht-container .ht-star {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.ht-container .ht-slider .ht-star {
    width: 65px;
}
.ht-container .ht-slider .ht-item .ht-option {
    display: flex;
    font-size: 12px;
    margin-bottom: 11px;
    align-items: center;
    color: #26b99f;
    font-weight: 300;
    position: absolute;
    bottom: 31px;
}

.ht-container .ht-slider .ht-item .ht-option>img {
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

.ht-container .ht-star>img {
    height: 13px;
    width: 13px !important;
    margin: 0 2px;
    display: block !important;
}

.ht-container .ht-slider .ht-item .ht-star>img:nth-child(5) {
    margin-right: 5px;
}

.ht-container .ht-slider .ht-item .yellow-tick {
    height: 29px;
    width: 30px;
    background-image: url(../../img/ht-images/1.1-tick-vang.svg);
    background-size: cover;
    position: absolute;
    right: 19px;
    bottom: 16px;
}

.ht-container .ht-slider .ht-item .ht-time {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 185px;
    height: 25px;
    bottom: 0;
    position: absolute;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    right: 0;
}

.ht-container .ht-slider .ht-item .discount {
    color: #a7a7a7;
    text-decoration: line-through;
    font-size: 13px;
    margin-right: 5px;
    font-weight: 100;
}

.ht-container .ht-slider .owl-item {
    height: 325px;
}

.ht-container .ht-slider .owl-nav span, .ht-contain-banner .owl-nav span{
    font-size: 0px;
}

.ht-container .ht-slider.owl-carousel .owl-nav>button,  .ht-contain-banner .owl-nav button{
    background: white;
    height: 42px;
    width: 43px;
    border: 1px solid #e3e3e3 !important;
    border-radius: 50% !important;
    position: absolute;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 18px 18px !important;
    top: 145px;
    cursor: pointer;
}

.ht-container .ht-slider.owl-carousel .owl-nav .owl-prev, .ht-contain-banner .owl-nav .owl-prev {
    left: -67px;
    background-image: url(../../img/ht-images/arrow-right.png) !important;
    transform: rotate(180deg);
}

.ht-container .ht-slider.owl-carousel .owl-nav .owl-next, .ht-contain-banner .owl-nav .owl-next {
    right: -67px;
    background-image: url(../../img/ht-images/arrow-right.png) !important;
}
.ht-contain-banner .owl-nav button.owl-next {
    top: 152px;
    right: 24px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    background-image: url(../../img/ht-images/arrow-right-white.png) !important;
} 
.ht-contain-banner .owl-nav .owl-prev {
    top: 152px;
    left: 18px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    background-image: url(../../img/ht-images/arrow-right-white.png) !important;
}
.ht-bot-footer {
    display: flex;
    justify-content: center;
    margin-top: 41px;
}

.ht-bot-footer>a {
    height: 78px;
    width: 563px;
    text-align: center;
    line-height: 78px;
    background-color: #eff2f9;
    font-size: 22px;
    font-weight: 500;
    color: #3b3b39;
}

/* ============= 1.1 PAGE ============= */
.ht-ontop-img {
    position: relative;
}
.ht-ontop-img .ht-banner{
    height: 470px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ht-ontop-img .ht-title {
    color: white;
    position: absolute;
    top: 61px;
    line-height: 68px;
    font-size: 20px;
}
.ht-ontop-img .ht-link {
    color: white;
    position: absolute;
    bottom: 34px;
}
.ht-list-search {
    width: 1007px;
    height: 228px;
    border: 1px solid #ebebeb;
    margin: auto;
    margin-top: 69px;
    border-radius: 3px;
    padding: 0 39px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ht-col-ct-50 {
    width: 50%;
    display: flex;
    height: 132px;
    justify-content: space-around;
    align-items: center;

}
.ht-col-ct-100 {
    width: 100%;
    margin-bottom: 31px;
}
.ht-col-ct-50 a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    align-items: center;
    justify-content: center;
}
.ht-col-ct-50 a> img {
    width: 52px;
    height: 52px;
}
.ht-col-ct-50 a>span {
    margin-top: 16px;
    color: #353a40
}
.ht-col-ct-100>input {
    height: 63px;
    background-color: #f4f5f7;
    width: 100%;
    border: none;
    padding: 0 27px;
    border-radius: 5px;
}
.ht-container .ht-slider.type-2 .owl-item {
    height: 132px;

} 
.ht-slider.type-2 .ht-item .ht-title {
    color: white;
    position: absolute;
    top: 15px;
    left: 19px;
    font-size: 18px;
    font-weight: 500;
}
.ht-container .ht-slider.type-2 .ht-item {
    border: none;
    border-radius: 10px;
}
.ht-container .ht-slider.owl-carousel.type-2 .owl-nav>button {
    top:42px
}
.ht-info>div {
    display: flex;
    flex-wrap: wrap;
}
.ht-info .ht-col-1_2 {
    width: calc(50% - 21px);
    margin-right: 21px;
}
.ht-info>h2 {
    line-height: 24px;
    margin-top: 77px;
    margin-bottom: 28px;
}
.ht-info .type-1 {
    border: 1px solid #d3d3d3;
    border-radius: 1px;
    padding: 27px 21px;
    font-size: 14px;
}
.ht-info .type-1 .ht-star {
    margin-bottom: 0;
}
.ht-info .type-1 .ht-star>img {
    height: 11px;
    width: 11px !important;
}
.ht-info .type-1 .row-1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.ht-info .type-1 .row-2 {
    display: flex;
    justify-content: space-between;
    color: #898989;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
.ht-info .date {
    font-size: 12px;
    margin-right: 8px;
    color: #898989
}
.ht-info .type-1 .ht-title {
    margin-bottom: 22px;
    font-weight: 500;
}
.ht-col-1_3 .ht-pp {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ht-info .ht-pp {
    color: #717171;
    line-height: 24px;
  
}
.ht-info .type-1 .ht-img {
    width: 100%;
    height: 208px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px ;
}
.ht-info .ht-col-2_3 {
    display: flex;
    flex-wrap: wrap;
    width: 797px;
    border-right: 1px solid #e7e7e7;
    position: relative;
}
.ht-info .ht-col-1_3 {
    position: relative;
}
.ht-info .ht-col-1_3>div {
    width: calc(100% - 22px);
    border: 1px solid #d3d3d3;
    padding: 26px;
    margin-left: 22px;
    height: 453px;
    font-size: 14px;

}
.ht-info .ht-col-1_3 .item {
    height: 126px;
    border-bottom: 1px solid #f2f2f2;
}
.ht-info .ht-col-1_3 .item:last-child {
    border-bottom: none;
}
.ht-info .ht-col-1_3 .item:not(:first-child){
    margin-top: 20px;
}
.ht-info .ht-col-1_3 .item .ht-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ht-info .ht-header {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}
.ht-info .ht-direct {
    border: 1px solid #e1e1e1;
    height: 34px;
    width: 114px;
    text-align: center;
    line-height: 34px;
    position: absolute;
    bottom: -56px;
    right: 0;
}
.ht-contain-banner {
    margin-top: 118px;
    position: relative;
}
.ht-contain-banner .ht-banner {
    height: 353px;
    background-size: cover;
    background-position: center;
}
.ht-contain-banner .ht-content {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 70px;
}
.ht-contain-banner .ht-content .ht-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
}
.ht-contain-banner .ht-content .sub-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 12px 0 24px;
}
.ht-contain-banner .ht-content>a {
    background-color: #1594ff;
    color: white;
    height: 44px;
    width: 106px;
    border-radius: 10px;
    text-align: center;
    line-height: 44px;
}
/* =================================RESPONSIVE================================== */
@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    [class*="ht-col-"] {
        width: 100%;
    }
    .ht-container div.my-container {
        padding: 0 20px;
    }
    .ht-list-box-1 .box-1 {
        margin-top: 20px;
    }
    div.ht-list-box-1 {
        margin-top: 0px;
    }
    .type-2 [class*="ht-col-"] {
        width: calc(50% - 10px);
    }
    .ht-list-search {
        width: 100%;
        height: auto;
        padding: 0 20px;
    }
    .ht-info [class*="ht-col-"] {
        width: 100%;
    }
    .ht-info .ht-col-1_2 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .ht-info .ht-col-1_3>div {
        width: 100%;
        margin-left: 0;
    }
    .ht-info .ht-col-2_3 {
        border-right: 0;
        margin-bottom: 52px;
    }
    .ht-info .ht-col-2_3 .ht-direct {
        margin-right: 0 !important;
        bottom: -33px;
    }
}

@media only screen and (max-width: 767px) {
    .ht-ontop .ht-title>h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .ht-ontop div.ht-title>p {
        font-size: 16px;
    }
    .ht-ontop-img .ht-banner {
        height: 185px;
    }
    .ht-ontop-img .ht-title{
        top: 20px;
    }
    .ht-ontop-img .ht-title>h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .ht-col-ct-100>input {
        font-size: 1rem;
    }
    .ht-contain-banner .ht-content .ht-title {
        font-size: 1.8rem;
    }
    .ht-contain-banner .ht-content .sub-title {
        font-size: 1.5rem;
    }
    .ht-contain-banner .ht-content>a {
        font-size: 1.5rem;
    }
    .ht-contain-banner .ht-content {
        margin-left: 20px;
    }
    .ht-contain-banner .owl-nav button {
        top: 277px !important;
    }
}

@media only screen and (min-width: 1160px) {
    /* For mobile phones: */
    .ht-container div.my-container {
        width: 1160px;
    }
}