$col: 10;

@for $i from 1 through $col {
    .ht-col-#{$i} {
        width: (100% / $col) * $i;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="ht-col-"] {
        width: 50%;
    }
    .ht-ontop {
        padding: 0 20px;
    }
    .ht-container {
        div.my-container {
            padding: 0 20px;
        }
    }
}
.ht-container {
    font-size: 16px;
    color: #333333;
    line-height: 16px;
    .my-container {
        padding: 0;
    }
    .box-1 {
        margin-right: 10px;
    }
}
.ht-ontop {
    height: 205px;
    background-color: #eff2f9;
    display: flex;
    padding-bottom: 12px;
    .my-container {
        .ht-title {
            font-size: 18px;
            display: flex;
            align-items: flex-end;
            line-height: 35px;
            color: #292929;
            p {
                font-size: 22px;
                color: #535458;
                line-height: 22px;
            }
        }
        > p {
            margin-top: 18px;
            font-size: 14px;
            color: #919598;
        }
    }
}

.list-box-1 {
    display: flex;
    flex-wrap: wrap;
    .box-1 {
        height: 108px;
        border: 1px solid #c7d7e7;
        border-radius: 10px;
    }
}
